Repository GagiMarket/gagi, pull requests merged in 2021-01, with the labels that each got.

#10 feat: Swagger 설정 적용
  back/build.gradle
  back/src/main/java/com/gagi/market/config/SwaggerConfig.java
Labels: back, enhancement

#12 feat: 페이지 이동 라우터 기능 구현
  front/.eslintcache
  front/package.json
  front/src/App.js
  front/src/assets/free-icon-add-cart-2727416.svg
  front/src/assets/free-icon-box-2898040.svg
  front/src/assets/free-icon-eggplant-1147561.svg
  front/src/assets/free-icon-help-1660114.svg
  front/src/assets/img-product-1.jpg
  front/src/assets/img-product-1@2x.jpg
  front/src/assets/img-product-2.jpg
  front/src/assets/img-product-2@2x.jpg
  front/src/assets/img-product-3.jpg
  front/src/assets/img-product-3@2x.jpg
  front/src/components/header.css
  front/src/components/header.js
  front/src/components/item-detail.js
  front/src/components/list.css
  front/src/components/list.js
  front/src/components/post.js
  front/src/routes/home.css
  front/src/routes/home.js
  front/src/routes/item-detail.css
  front/src/routes/item-detail.js
  front/src/routes/item-list.css
  front/src/routes/item-list.js
  front/src/routes/post.css
  front/src/routes/post.js
  front/yarn.lock
Labels: front

#18 feat: 상품 검색 API 개발
  back/src/main/java/com/gagi/market/item/api/ItemApiController.java
  back/src/main/java/com/gagi/market/item/api/dto/ItemResponseDto.java
  back/src/main/java/com/gagi/market/item/domain/Item.java
  back/src/main/java/com/gagi/market/item/domain/ItemRepository.java
  back/src/main/java/com/gagi/market/item/service/ItemService.java
  back/src/test/java/com/gagi/market/item/api/ItemApiControllerTest.java
  back/src/test/java/com/gagi/market/item/domain/ItemRepositoryTest.java
  back/src/test/java/com/gagi/market/item/service/ItemServiceTest.java
Labels: back, enhancement

#20 chore: 빌드 및 배포 설정
  back/build.gradle
  back/src/main/java/com/gagi/market/item/api/ItemApiController.java
  back/src/main/resources/application.properties
  back/src/main/resources/application.yml
  back/src/test/resources/application.yml
Labels: back

#17 feat: 로그인 페이지 구현
  front/.eslintcache
  front/src/App.js
  front/src/components/header.css
  front/src/components/header.js
  front/src/routes/login.css
  front/src/routes/login.js
Labels: enhancement, front
